@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;700&family=Tektur&display=swap');
@import url('./reset.css');

html {
    font-size: 62.5%;
  }

/* FIRST LOOK */
.first-look {
    height: 100vh;
    background-image: url('../images/space.gif');
    /* background-size: cover; */
    position: relative;
}

header {
    padding: 30px;
    margin: 0 50px;
}

.header-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.6rem;
    gap: 30px;
    transition: 0.4s ease-in;
}

.header-socials :hover {
    transform: scale(1.1);
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    margin-top: -25px;
}

.header-content li a {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
}

.header-content li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.header-content li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.first-look img {
    position: absolute;
    bottom: 30px;
    right: 50%;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4; }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9; }
}

.phrases h1 {
    font-family: 'Tektur', sans-serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#typed-output::after {
    content: '|';
    display: inline-block;
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* ABOUT ME */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    position: relative;
}

.about-me::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    background-image: url('../images/cool-background.png');
    width: 100%;
    height: 100%;
    filter: opacity(90%);
}

.about-me .icon {
    max-width: 300px;
    border: 6px solid #ff8fab;
    border-radius: 50%;
    z-index: 2;
}

.about-me .description {
    max-width: 52%;
    z-index: 2;
}

.about-me .description h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.about-me .description p {
    font-size: 1.8rem;
    font-weight: 400;
}