@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;700&family=Tektur&display=swap');
@import url('./reset.css');

html {
    font-size: 62.5%;
  }

/* FIRST LOOK */
.first-look {
    height: 100vh;
    background-image: url('../images/space.gif');
    /* background-size: cover; */
    position: relative;
}

header {
    padding: 30px;
    margin: 0 50px;
}

.header-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.6rem;
    gap: 30px;
    transition: 0.4s ease-in;
}

.header-socials :hover {
    transform: scale(1.1);
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    margin-top: -25px;
}

.header-content li a {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
}

.header-content li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.header-content li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.first-look img {
    position: absolute;
    bottom: 30px;
    right: 50%;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4; }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9; }
}

.phrases h1 {
    font-family: 'Tektur', sans-serif;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#typed-output::after {
    content: '|';
    display: inline-block;
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* ABOUT ME */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    position: relative;
    height: 85vh;
}

.about-me::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    background-image: url('../images/cool-background.png');
    width: 100%;
    height: 100%;
    filter: opacity(92%);
}

.about-me .icon {
    max-width: 300px;
    border: 6px solid #ff8fab;
    border-radius: 50%;
    z-index: 2;
}

.about-me .description {
    max-width: 52%;
    z-index: 2;
}

.about-me .description h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-me .description p {
    font-size: 1.8rem;
    font-weight: 400;
}

/* PROJECTS */
.projects {
    background-image: url('../images/cool-background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.projects h2 {
    font-size: 3rem;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 1.8rem;
}

.projects-list a, p {
    margin: 15px;
}

.projects-list h3 {
    font-size: 3rem;
}

.projects img {
    max-width: 450px;
    border-radius: 10px;
}

.projects-list li p {
    max-width: 80%;
}

.projects-list .languages {
    font-size: 3.5rem;
}

/* SKILLS */
.skills {
    background-image: url('../images/cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

.skills-itens {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    font-size: 1.8rem;
}

.skills-itens li {
    margin: 20px;
}

.skills-itens .fa-brands {
    font-size: 5.5rem;
    transition: 0.2s ease-in;
}

.skills-itens .fa-brands:hover {
    transform: scale(1.3);
}

.skills-itens .skill-description {
    max-width: 350px;
}

/* CONTACT */
.contact {
    background-color: black;
}