:root {
    --scale: scale(1.2);
    --title-border: 1px solid white;
    --big-fontsize: 3.5rem;
    --title-fontsize: 3rem;
    --background: url('../images/cool-background.png');
    --white: #ffffff;
    --z-index: 3
}